@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the G.E Flipper</h1>
    <p>The web app for helping you track item prices in oldschool runescape. Look up an item to see the price. Login or Register to view price history to see pricing trend.</p>
    <img src="https://2009scape.org/services/m=itemdb_rs/3062d_graphimg3313b-2.gif?id=5458&scale=0 " />
    <a asp-area ="" asp-controller="Items" asp-action="Index">Browse Items</a>
</div>
