@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the G.E Flipper</h1>
    <p>The web app for helping you track item prices in oldschool runescape.</p>
</div>
